{% extends 'base.html' %}

{% block body1 %}
    <div id="header1">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1><br>Таблица заказов<br></h1>
                <table class="table table-hover table-inverse">
                <tr>
                    <th>№</th>
                    <td>ФИО Покупателя</td>
                    <td>Модель</td>
                </tr>

                    {% for Order in object_list %}
                    <tr>
                        <th scope="row">{{Order.id}}</th>
                        <td> {{Order.fio_customer}} </td>
                        <td>{{ Order.computer_model }}</td>
                    </tr>
                    {% endfor %}

                </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}