{% extends 'base.html' %}

{% block body1 %}
   <h1>
    {% for crt in data2.concerts %}
        {% if crt.id == data1.concert.id %}
            {{ crt.concert_name }}
        {% endif %}
    {% empty %}
        empty list
    {% endfor %}
   </h1>
{% endblock %}

{% block body2 %}
    <div class="col-lg-8 col-lg-offset-2">
        <p>
            {% for crt in data2.concerts %}
                {% if crt.id == data1.concert.id %}
                    {{ crt.info }}
                {% endif %}
                {% empty %}
                empty list
            {% endfor %}
        </p>
    </div>
{% endblock %}